[package]
name = "scopeql-lexer"
version = "0.1.0"

rust-version = "1.85.0"

edition.workspace = true
homepage.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true

[dependencies]

[lints]
workspace = true
