# Copyright 2025 ScopeDB, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Release PyPI

on:
  push:
    tags: [ 'v[0-9]+.[0-9]+.[0-9]+*' ]
  pull_request:
    # Manually trigger the workflow for pull requests: 1 (EDIT TO TRIGGER)
    paths: [ '.github/workflows/release-pypi.yml' ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sdist:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: -o dist -m scopeql/Cargo.toml
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: dist

  wheels:
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        include:
          - { os: windows-2022 }
          - { os: macos-15-intel, target: "x86_64-apple-darwin" }
          - { os: macos-15, target: "aarch64-apple-darwin" }
          - { os: ubuntu-24.04, target: "x86_64" }
          - { os: ubuntu-24.04, target: "aarch64" }
          - { os: ubuntu-24.04, target: "armv7l" }
          - { os: ubuntu-24.04, target: "x86_64-unknown-linux-musl" }
          - { os: ubuntu-24.04, target: "aarch64-unknown-linux-musl" }
          - { os: ubuntu-24.04, target: "armv7-unknown-linux-musleabihf" }
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - name: Build python 3.14t
        uses: PyO3/maturin-action@v1
        with:
          target: "${{ matrix.target }}"
          command: build
          args: --release -o dist -i python3.14t -m scopeql/Cargo.toml
          sccache: true
          manylinux: auto

      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.target }}
          path: dist

  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    needs: [sdist, wheels]
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: wheels-*
          merge-multiple: true
          path: dist
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          packages-dir: dist
